body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    color: #333;
}

#football-pitch {
    background-image: url('football_pitch.jpg'); /* Use your image path */
    background-size: cover;
    width: 800px;
    height: 500px;
    position: relative;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.shot-marker {
    position: absolute;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

#download-link {
    display: none;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

#download-link:hover {
    background-color: #0056b3;
}

#shot-type, #team-selector, #action-type {
    margin-bottom: 20px;
}
